<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>polarbits_</title>
  <meta name="description" content="Polarbits' Homepage">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="/css/main.css">  
  <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US" />
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="polarbits_" />
  <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://polarbits.co" />
  <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="polarbits_" />
  <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://polarbits.co/assets/img/polarbits-fb.jpg" />
 </head>
 <body> 